{% extends 'base2.html' %}
{% block left %}
{#    <div class="service-single-content">#}
{#        <div class="service-single-img">#}
{#            <img src="/static/images/service-single/img-1.jpg" alt>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block right %}
    <div class="service-single-content">
        <h2>Building Materials</h2>
        <div class="benefit clearfix">
            <div class="details">
                <h3>Order cement easily from anywhere</h3>
                <ul>
                    <li><i class="ti-arrow-circle-right"></i> Submit request for pricing</li>
                    <li><i class="ti-arrow-circle-right"></i> One of our team members will contact you</li>
                    <li><i class="ti-arrow-circle-right"></i> We deliver to multiple points throughout Tanzania</li>
                </ul>
{#                <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus</p>#}
                <div class="cart-search-contact">
                    <div class="mini-cart">
                        <button type="submit" class="theme-btn submit-btn cart-toggle-btn"
                                data-toggle="modal" data-target="#request-form">Request</button>
                        <div class="modal modal-fade" id="request-form" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="form">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3>Request Form</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mini-cart-content">
        {#                                    <div class="container">#}
        {#                                        <div class="row">#}
        {#                                            <div class="col col-lg-8">#}
                                                        <div class="content-area">
                                                            <div class="contact-form">
                                                                <form method="post" class="contact-validation-active" id="contact-form-main">
                                                                    <div>
                                                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name*" required>
                                                                    </div>
                                                                    <div>
                                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email*" required>
                                                                    </div>
                                                                    <div>
                                                                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone*" required>
                                                                    </div>
                                                                    <div>
                                                                        <select name="country" class="form-control">
                                                                            <option selected>Tanzania</option>
                                                                            <option>Kenya</option>
                                                                            <option>Uganda</option>
                                                                        </select>
                                                                    </div>
                                                                    <div>
                                                                        <input type="text" class="form-control" name="city" id="city" placeholder="City*" required>
                                                                    </div>
                                                                    <div>
                                                                        <input type="text" class="form-control" name="address" id="address" placeholder="Consignee Address*" required>
                                                                    </div>
                                                                    <div>
                                                                        <input type="date" class="form-control" name="arrival_date" id="arrival_date" title="Desired Arrived Date*" placeholder="Desired Arrived Date*" required>
                                                                    </div>
                                                                    <div class="fullwidth">
                                                                        <textarea class="form-control" name="note" id="note" placeholder="Case Description..."></textarea>
                                                                    </div>
        {#                                                            <div class="submit-area">#}
        {#                                                                <button type="submit" class="submit-btn">Submit</button>#}
        {#                                                                <div id="loader">#}
        {#                                                                    <i class="ti-reload"></i>#}
        {#                                                                </div>#}
        {#                                                            </div>#}
        {#                                                            <div class="clearfix error-handling-messages">#}
        {#                                                                <div id="success">Thank you</div>#}
        {#                                                                <div id="error"> Error occurred while sending email. Please try again later. </div>#}
        {#                                                            </div>#}
                                                                </form>
                                                            </div>
                                                        </div>
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="view-cart-btn" data-dismiss="modal">Close</a>
                                        <a href="#" class="view-cart-btn">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-holder">
                <img src="/static/images/service-single/benefit-pic.jpg" alt>
            </div>
        </div>
    </div>
{% endblock %}

{#                                <div class="mini-cart-items">#}
    {#                                    <div class="mini-cart-item clearfix">#}
    {#                                        <div class="mini-cart-item-image">#}
    {#                                            <a href="#"><img src="assets/images/shop/mini-cart/img-1.jpg" alt></a>#}
    {#                                        </div>#}
    {#                                        <div class="mini-cart-item-des">#}
    {#                                            <a href="#">Hoodi with zipper</a>#}
    {#                                            <span class="mini-cart-item-price">$20.15</span>#}
    {#                                            <span class="mini-cart-item-quantity">x 1</span>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="mini-cart-item clearfix">#}
    {#                                        <div class="mini-cart-item-image">#}
    {#                                            <a href="#"><img src="assets/images/shop/mini-cart/img-2.jpg" alt></a>#}
    {#                                        </div>#}
    {#                                        <div class="mini-cart-item-des">#}
    {#                                            <a href="#">Ninja T-shirt</a>#}
    {#                                            <span class="mini-cart-item-price">$13.25</span>#}
    {#                                            <span class="mini-cart-item-quantity">x 2</span>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}